:root {
  --brand-color: blue;
  --hero-bg-color: #dfd2d2;
  --text-color: var(--brand-color);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Silkscreen", sans-serif;
  --paragraph-font: "Raleway", sans-serif;
}

.navbar {
  font-family: var(--paragraph-font);
}

h1 {
  font-size: 56px;
  line-height: 64px;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: var(--heading-font);
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}

.hero p {
  font-family: var(--paragraph-font);
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.hero {
  text-align: center;
  padding: 112px 0;
  background: var(--hero-bg-color);
  color: var(--text-color);
}

.btn-branding {
  background: var(--brand-color);
  color: white;
  border-radius: 24px;
  border-color: var(--brand-color);
  border-width: 2px;
  padding: 8px 16px;
  margin: 0 8px;
  font-family: var(--paragraph-font);
}

.btn-branding:hover {
  color: var(--text-color);
  border-color: var(--brand-color);
  border-width: 2px;
}

.container {
  margin: 72px auto;
  max-width: 960px;
}

p {
  margin-bottom: 40px;
  font-family: var(--paragraph-font);
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--brand-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--paragraph-font);
}

.app-section {
  margin-bottom: 48px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 48px !important;
    line-height: 40px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px !important;
  }
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
